{% extends "layout.htm" %}
{% block content %}

<h1>WELCOME.</h1>
<br>

<p class="info">This website is supposed to display all important information related or 
    personal to the user conveniently at one location. For example - information regarding user's amazon orders,
    night sky, tweets, instagram posts, spotify playlists, etc.
    <br>
    <br>
    We only implemented two of these features - information regarding user's amazon orders and night sky. 
    <br>
    Click on <a href="services">Services</a> to access those
     
</p>
{% endblock content %}  
